<a href="https://colab.research.google.com/github/light-lamp/Datalabs-python-worksheets/blob/main/Operators1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators - arithmetic

---

In Python, we can use the following arithmetic operators:  

![Python operators](https://drive.google.com/uc?id=1EARs0OefvMwAULyNGGs01xYLW3lIAO9B)

---
### Exercise 1 - multiplication of integers
Write a function called **print_dog_human_age()** which will:  

*  ask the user to input their dog's age and assign this to an integer variable called **dog_age**  
*  calculate the dog’s age in human years by multiplying it by 7, assigning it to a new variable called **dog_human_age**  
*  print the age in human years (`dog_human_age`)    

Test Input:  
4  

Expected output:  
28

In [ ]:
def print_dog_human_age():
  dog_age= int(input("dog age:"))
  dog_human_age= (dog_age *7)
  print (dog_human_age)

print_dog_human_age()

dog age:4
28

---
### Exercise 2 - BIDMAS
Write a function called **calculate_average()** which will:  

*  ask the user for 3 seperate numbers, **num1**, **num2**, **num3**  
*  calculate the **average** of the three numbers
*  print the `average`, rounded to 2 decimal places  

*Hint 1:  to round a number, use round(), e.g. round(`average`)  *
*Hint 2: remember the BIDMAS order of operators and use brackets to change the order if necessary.*  

Test Input:  
3  
5  
9  

Expected output:  
5.67

In [ ]:
def calculate_average():
  num1= int(input("a number:"))
  num2= int(input("a number:"))
  num3= int(input("a number:"))
  mean= [num1, num2, num3]
  mean= numpy.mean 
  print(mean)

  calculate_average()


  #mean= float(total/3)
  print(mean)

calculate_average()

a number:3
a number:5
a number:9

NameError: ignored

In [ ]:
def calculate_average():
  num1= int(input("a number:"))
  num2= int(input("a number:"))
  num3= int(input("a number:"))
  mean= [num1, num2, num3]
  average= sum(mean)/len(mean)
  print(round(average,2))
calculate_average()

a number:3
a number:5
a number:9
5.67

---
### Exercise 3 - BIDMAS

Write a function called **calculate_avg_height()** which will:  

*  ask the user to input their **height**  
*  convert `height` to **height_centimeters** (multiply by 100)  
*  print `height_centimeters`  

*Remember, height in metres is usually a decimal, so data type matters*  

Test Input:  
1.67  

Expected output:  
167

In [ ]:
def calculate_average():
  height= float(input("height:"))
  height_centimeters= str(round(height*100))
  print(height_centimeters)
calculate_average()

height:1.67
167

---
### Exercise 4 - float and formatting printing

At the time of writing, the exchange rate from Pounds (£) to Euros (€) is 1.16 (£1 = €1.16).

Write a function called **convert_currency(**) which will:

*  ask a user to input an amount in **pounds**  
*  calculate the equivalent number of **euros**  
*  print `euros`, rounded to 2 decimal places  

Test Input:  
£60

Expected output:  
€69.6  

*Remember, pounds is likely to be a decimal number and that the user should not enter the £ sign.*

In [ ]:
def convert_currency():
  pounds= input("type pounds:")
  euros= float(1.16)
  currency= sum(pounds*euros)
  print(round(currency,2))
convert_currency()

type pounds:60

TypeError: ignored

In [ ]:
def convert_currency():
  pounds= float(input("type pounds:"))
  euros= float(1.16)
  currency= (pounds * euros)
  print("e", round(currency,2))
convert_currency()

type pounds:60
e 69.6

---
### Exercise 5 - rounding

Write a function called **calculate_stats()** which will:  

*  assign the numbers 3.145, 5.6723 and 9.34 to the variables **num1**, **num2** and **num3** respectively  
*  calculate the **total** of the three numbers, rounded to 2 decimal places  
*  calculate the **average** of the numbers, rounded to 3 decimal places  
*  print `total` and `average` in a message that labels them.

Expected output:

The total of the three numbers is 18.16  
The average of the three numbers is 6.052

*Remember to calculate the average you divide the total by the quantity of numbers, e.g. total/3*

In [ ]:
def calculate_stats():
  num1= float(3.145)
  num2= float(5.6723)
  num3= float(9.34)
  total= round(num1 + num2 + num3,2)
  print("The total of the three numbers is",total)
calculate_stats()

The total of the three numbers is 18.16

In [ ]:
def calculate_stats():
  num1= float(3.145)
  num2= float(5.6723)
  num3= float(9.34)
  total= round(num1 + num2 + num3,2)
  average= round(total/3,3)
  print("The total of the three numbers is",total)
  print("The average of the three numbers is",average)
  
  
  
  #total= round(num1 + num2 + num3,2)
  #average= int(total/len(total))
  #average= float(sum(total)/len(total)
  #print("The total of the three numbers is",total)
  #print("The average of the three numbers is",(float(average)3)
calculate_stats()

The total of the three numbers is 18.16
The average of the three numbers is 6.053

In [ ]:
def calculate_stats():
  num1= float(3.145)
  num2= float(5.6723)
  num3= float(9.34)
  total= round(num1 + num2 + num3,2)
  average= round(total/3,3)
  print("The total of the three numbers is",total)
  print("The average of the three numbers is",average)
calculate_stats()

The total of the three numbers is 18.16
The average of the three numbers is 6.053

---
### Exercise 6 - calculating volume

Bill is moving house. He needs to know how much space his cardboard packing boxes have.   

Write a function called **calculate_volume()** which will:   

*  assign the value 3.2, 5.6 and 7.8 to the variables **base**, **width** and **height** respectively  
*  calculate the **box_volume** rounded to 1 decimal place  
*  print the `box_volume`

*Hint: volume = base x width x height*

Expected output:  
139.8

In [ ]:
def calculate_volume():
  base= 3.2
  width= 5.6
  height= 7.8
  box_volume= round(base * width* height,1)
  print(box_volume)
calculate_volume()

139.8

---
***Floor Division***  
*So far, we have been using standard arithmetic operators. If we would like to divide without remainders (eg. no decimals) we can use floor division using the // operator.  This will always round down*.  

*For example*:  
*42/8 = 5.75*  
*BUT*  
4*2//8 = 5*

---
### Exercise 7 - calculating with volumes

Bill needs to work out how many boxes he will need.  

Building on what you did in the last exercise, write a function called **calculate_boxes(base, width, height)** which will:  

*  calculate the volume of a box, using the **base**, **width** and **height** supplied in the brackets  
*  ask Bill for the **total_volume** of his stuff  
*  calculate the total **number_of_boxes** he will need, and print the `number_of_boxes`  

*Hint: the `total` will not be a decimal number - you should use floor division and add one to the answer (for the box that will have the leftovers).*

Test Input:  
1500  

Expected output:  
11

In [ ]:
def calculate_boxes():
  # add your code below here to calculate the boxVolume, ask for totalVolume and calculate number of boxes
  base= 3.2
  width= 5.6
  height= 7.8
  box_volume= 139.8
  
  vol_stuff= float(input("vol Bill's stuff:"))
  total_boxes= float(vol_stuff//box_volume)
  print(round(vol_stuff))
  print(int(total_boxes + 1))
calculate_boxes()

vol Bill's stuff:1500
1500
11

---
### Exercise 8 - floor division

Write a function called **calculate_parcel_weight()** which will:  

*  ask the user to enter the weights, in kg, of four parcels (**weight1, weight2, weight3, weight4**)
*  calculate the total **parcel_weight** and display this in a whole number of kg, rounded up  
*  print the `parcel_weight`

*Hint: round() could either round up or down.  Floor division could be a better option* 

Test Inputs:  
1.23  
2.84  
1.675  
3.03  

Expected output:  
9kg

In [ ]:
def calculate_parcel_weight():
  p1= float(input("weight of parcelKG"))
  p2= float(input("weight of parcelKG"))
  p3= float(input("weight of parcelKG"))
  p4= float(input("weight of parcelKG"))
  tot_parcel_weight= float(p1 + p2 + p3 + p4)
  print(round(tot_parcel_weight),"Kg")
calculate_parcel_weight()

weight of parcelKG1.23
weight of parcelKG2.84
weight of parcelKG1.675
weight of parcelKG3.03
9 Kg

---
### Exercise 9 - modulus

Write a function called **get_pm_minutes()** which will:  

*  ask the user to enter an afternoon **time** in 24 hour clock (e.g. 1350) 
*  use floor division to get the **hour** (ie divide by 100)  
*  use modulus to get the **minutes**  
*  subtract 12 to get the 12 hour clock storing the result back in `hour`      
*  print a message to say that It is `minutes` minutes past `hour` PM

Test Input:  
1350  

Expected output:  
It is 50 minutes past 1 PM

*(Is it possible to use this code to get the right hour for a morning time?  You will do this in the section that allows selection depending on value)*

In [ ]:
def get_pm_minutes():
  time= int(input("24hr time, eg 1350:"))
  hour= int(time//100)
  minutes= int(hour% 60)
  hour= int(minutes-12)
  print(hour)
  print(minutes)
  #
  print("it is", minutes, "minutes past", hour, "PM")
#d = datetime.strptime("6:56", "%H:%M")??? Google return

get_pm_minutes()

24hr time, eg 1350:1350
1
13
it is 13 minutes past 1 PM

---
### Exercise 10 - How many tins of beans?  

Write a function called **calculate_tins()** that will calculate how many tins of beans will fit in a cardboard box. Bean tins are *11cm tall* and *8cm* diameter.  All tins will be standing up and can be stacked in layers.  

*  use the **height**, **width** and **depth** of the box supplied in the function’s brackets.   
*  calculate the **number_of_tins** that can fit in the box   
*  print the `number_of_tins` that can fit  

*Hint: you will need to calculate the number of layers, and the number that will fit in each direction, the product (all of the numbers multiplied together) will tell you how many tins. All answers must be whole numbers*  


Expected output:  
24 tins will fit in this box

In [ ]:
def calculate_tins():
   # add your code below here
   box_height= int(24)
   box_width= int(50)
   box_depth= int(18)
   volume_of_box= int(box_height * box_width * box_depth)
   print(volume_of_box)
   #bean_t_height= 11
   #bean_t_radius= 4
   volume_tin= ((3.14 * (bean_t_radius * bean_t_radius) *bean_t_height))
   print(volume_tin)
#sum volume of box by volume of bean tins (in layers)/ by height of bean tin or by length
   #number_of_tins=
   #print(number_of_tins,"tins will fit in this box")
calculate_tins()
  

  


calculate_tins(24, 50, 18)

21600

NameError: ignored

In [13]:
def calculate_tins():
   # add your code below here
  height_b= 24
  width_b= 50
  depth_b= 18
  tin_h= 11
  tin_d = 8

  layers= height_b//tin_h
  print(layers)
  tins_in_width= width_b//tin_d
  print(tins_in_width)
  tins_in_depth= depth_b//tin_d
  print(tins_in_depth)
  num_tins= (tins_in_width * tins_in_depth *2)
  print(num_tins)

calculate_tins()

2
6
2
24

In [ ]:
#Franks session 
a= 200
b= 200
if b != a:
    print("b is greater than a")

In [ ]:
#Franks session 
a= 200
b= 200
if b == a:
    print("banana#")

banana#

In [ ]:
#input box comes in as a string
mark = input("What is your mark")
#cast it as a float
mark = float(mark)
#function check grades




def grade_exam():
  if(mark >=70):
    grade = "A"
  elif(mark >=60):
    grade= "B" 
  elif(mark >=50):
    grade = "C"
  else:
    grade = "Fail"
  print(grade)
grade_exam()

What is your mark65
B

In [ ]:
 def checkuser(user_input, pass_input):
  user_input= input("What is your user name")
  pass_input= input("What is your password")
  #stubcode
  username = jay
  password = code

  user_input= input("What is your user name")
  pass_input= input("What is your password")
  if (userinput == username) and (pass_input==password):
    #also try or or !^ (above 6) (uses and logic)
  print("Welcome to the system")
  else:
    print("Fail")
checkuser(user_input, pass_input)

NameError: ignored

In [ ]:
i=1
while i<=20:
    print(i)  
    if i==6:
      print("we have now reached 6")
      break
    i+=1

1
2
3
4
5
6
we have now reached 6

In [ ]:
i=1
while i<=20:
  i+=1
  if i==6:
    continue
  print(i)

2
3
4
5
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [ ]:
#select a space person program
#blast_off():
  #age= float(input("please enter your age"))
  #if age>=18:

else:
  print("way to young for space")
def blast_off():
   i=10
    while i>=1:
      print(i)
      i: -=1
      print("Blast Off")
      if age >=18:
        blast_off()
        else:
          print("way too young for space")
blast_off()

IndentationError: ignored

In [ ]:
names = ["frank", "jay", "stuart", "june", "anwar"]
for x in names:
  if x == "frank":
  #print(x)
    #print("found frank")
  else:
      print("not found")  

#this is a data structure which can be helpful if list is 500 names

found frank
not found
not found
not found
not found